body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
    font-family: 'Georgia', serif;
    text-align: center;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column; /* Added to stack elements vertically */
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #7cfc00; /* Shrek Green */
    z-index: 1; /* Ensure text is above the background */
}

.buttons {
    margin: 20px;
    z-index: 1; /* Ensure buttons are above the background */
}

button {
    font-size: 20px;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: #8b4513; /* Brown */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a0522d;
}

.popup {
    display: none;
    background-color: #fff;
    border: 2px solid #7cfc00;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 40px; /* Increased padding */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 800px; /* Increased max-width */
    width: 90%; /* Added for responsiveness */
}

.popup h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px; /* Increased font size */
    color: #000;
}

.gif-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.gif-container img {
    max-width: 48%; /* Adjusted max-width */
    border-radius: 10px;
}

.popup.fade-in {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes hide {
    from {
        transform: rotate(-40deg) translate3d(360px, 0, 0);
        opacity: 0.8;
    }
    to {
        transform: rotate(-40deg) translate3d(-360px, 0, 0);
        opacity: 0;
    }
}
